- commentable ||= @commentable

- if comments.blank?
  %p
    %em No posts yet
= render :partial => 'comments/comment', :collection => comments

- if comments.total_entries > comments.length
  .right= link_to 'view all &raquo;', url_for([@tag,:comments])
  %br

- if logged_in?
  - new_comment = Comment.new
  - uberform_for(new_comment, :url => polymorphic_url([commentable, :comments]), :method => :post) do |f|
    %span.posting_as
    .add_comment= render :partial => 'comments/form', :locals=>{:f=>f}
    %p.buttons.small= f.submit 'Post'
- else
  %p.center.login_or_signup== #{link_to '<span>login</span>', login_path, :class => 'button small'} or #{link_to '<span>signup</span>', signup_path, :class => 'button small'} to post
