
%p.back= link_to '&larr; back', url_for(@commentable)

= pagination

%h1 Comments for #{@commentable.class} #{@commentable.respond_to?(:name) && !@commentable.name.blank? ? @commentable.name : "##{@commentable.id}"}
- if @comments.blank?
  %em No comments!
= render :partial => 'comments/comment', :collection => @comments, :locals => {:show_commentable => true}

%p= pagination