
%p.back= link_to '&larr; back'.html_safe, url_for(@commentable)

= pagination

%h1 Comments by #{commentable_name(@commentable)}
- if @comments.blank?
  %em No comments!
= render :partial => 'comments/comment', :collection => @comments, :locals => {:show_commentable => true}

%p= pagination
