- @user.password = @user.password_confirmation = nil
%fieldset
  = form.error_messages
  %legend  
  %hr
  = form.text_field :login, :label => 'Username'
  = form.text_field :email  
  %hr
  = form.password_field :password
  = form.password_field :password_confirmation, :label => 'Again'
  %br
