- @user.password = @user.password_confirmation = nil

= form_for @user, url: user_path do |form|
  %h2 Edit My Account

  %fieldset

    = render "layouts/error_messages", target: @user

    %legend

    -# Hmm. how to address this exactly?
    - if false
      %hr
      = form.label :current_password, "Current password"
      = form.password_field :current_password

    %hr
    = form.label :password, "New password"
    = form.password_field :password
    = form.label :password_confirmtion "Password again"
    = form.password_field :password_confirmation

    %hr
    = form.submit "Change my password!"



