
= pagination

%h2 List of users
%p
  &larr;
  = link_to "back to home", root_path

%p
  %br
  %ul
    - @users.each do |user|
      -# FIXME -- old users failing
      - link = user_path(user) rescue user_path(:id => user.to_param)
      %li
        = link_to image_tag(user.photo.url(:tiny)), link
        = link_to user.login, link

= pagination