
%h2 User List
%p
  &larr;
  = link_to "back to home", root_path

%p.clear= pagination

%p
  %ul.users
    - @users.each do |user|
      -# FIXME -- old users failing
      - link = user_path(user) rescue user_path(:id => user.to_param)
      %li
        = link_to image_tag(user.photo.url(:small)), link
        = link_to user.login, link
        %br
        %small
          - tagcount = user.tags.count
          - if tagcount > 0
            == #{pluralize tagcount, 'tag'}
          - if !user.iphone_uniquekey.blank?
            == #{redstar}paired
          

%p.clear= pagination