#signup.signup_or_login.half.centered
  = form_for @user, url: users_path do |form|
    %h2 Create a 000000book account

    %fieldset
      = render "layouts/error_messages", target: @user

      %legend

      %hr
      = form.label :login, 'Username'
      = form.text_field :login
      = form.label :email, 'E-mail'
      = form.text_field :email

      %hr
      = form.label :password, 'Password'
      = form.password_field :password
      = form.label :password_confirmation, 'Again'
      = form.password_field :password_confirmation

    %p.buttons
      = form.submit "Signup"

    .help
      %ol.square
        %li= link_to 'already have an account? login here', login_path, class: 'login'
