.quarter.centered
  - uberform_for @user, :url => users_path do |form|
    %h2== Register #{SiteConfig.site_name} Account

    %fieldset
      = form.error_messages
      %legend

      %hr
      = form.text_field :login, :label => 'Username'
      = form.text_field :email
      
      %hr
      = form.password_field :password
      = form.password_field :password, :label => "Again"

    .buttons
      = form.submit "Register"
