- @user ||= current_user
#profile
  #sidebar
    %h2.login
      = link_to(image_tag(@user.photo.url(:small)), @user.photo.url)
      .clear= @user.login
    -# Roles + personal edit
    - if @user.admin?
      %strong.role.admin Admin
    - if current_user == @user
      %br
      .owner
        %em This is you!
        %ol
          %li= link_to 'Edit Settings', edit_user_path(@user)
          %li= link_to 'Change Password', edit_user_path(@user)
    -# Apps
    - if true
      - if @user.visualizations.blank?
        / None
      - else
        %br
        %h3 Applications
        %ul.square
          - @user.visualizations.each do |vis|
            %li= link_to vis.name, visualization_path(vis)

  #main
    -#Notifis... activity feed? comments etc.
    - if false
      %h2 Notifications
      - if @notifications.blank?
        = "None yet."
      - else
        - @notifications = Notification.find(:all, :conditions => ['user_id = ?', @user.id])
        = render :partial => 'home/notifications', :object => @notifications

    -#TODO: Show favorites!

    -# User's tags
    - if true
      - if @tags.blank?
        %p.empty
          %strong Nothing yet! 
      - else
        %h1== #{@tags.total_entries} Uploaded Tags
        = render :partial => 'tags/tag', :collection => @tags

      %br.clear
      %p= pagination(@tags)
  
