- @user ||= current_user
#profile
  #sidebar

    -# Roles
    - if @user.admin?
      .roles
        %strong.role.admin Admin

    %h2.login
      = link_to(image_tag(@user.photo.url(:small)), @user.photo.url)
      .clear= @user.login
    - unless @user.tagline.blank?
      .tagline== "#{@user.tagline}"

    - unless @user.website.blank?
      .website
        = link_to @user.website.gsub('http://',''), @user.website =~ /^http/ ? @user.website : "http://#{@user.website}", :rel => 'nofollow'

    -# About/Bio down low...
    - unless @user.about.blank?
      .about
        = @user.about

    -# Meta
    %p
      == Joined #{timeago(@user.created_at)} ago
      - unless @user.iphone_uniquekey.blank?
        %br= redstar+"paired with device"

    -# Simple stats
    %ul.stats.circle
      %li= link_to pluralize(@user.tags.count, 'tag'), user_tags_path(@user)
      %li= pluralize(@user.comments.count, 'comment')
      %li= pluralize(@user.favorites.count, 'favorite')

    -# Personal editing...
    - if false && current_user == @user
      .ownerbox
        %em This is you!
        %ol
          %li= link_to 'Edit Settings', edit_user_path(@user)
          %li= link_to 'Change Password', edit_user_path(@user)

    -# Apps
    - if false
      - if @user.visualizations.blank?
        / None
      - else
        %br
        %h3 Applications
        %ul.square
          - @user.visualizations.each do |vis|
            %li= link_to vis.name, visualization_path(vis)


    -# Wall posts yall
    - if true
      %br
      #wall
        %h4 Wall/Trash Talk
        = render :partial => 'comments/comments', :object => @wall_posts, :locals => {:commentable=>@user}

  -#Notifis... activity feed? comments etc.
  - if true
    #activity
      %h2 Activity
      - if @notifications.blank?
        = "None yet."
      - else
        = render :partial => 'home/notifications', :object => @notifications

  -# User's tags
  #main
    - if true
      - if @tags.blank?
        %p.empty
          %strong Nothing yet!
      - else
        %h1== #{@tags.total_entries} Uploaded Tags
        = render :partial => 'tags/tag', :collection => @tags

      %br.clear
      %p= pagination(@tags)

