- @user ||= current_user

#sidebar
  %h2
    = link_to(image_tag(@user.photo.url(:small)), @user.photo.url)
    .clear= @user.login

  - if current_user == @user
    %p
      %em This is you!

    %ol
      %li= link_to "Upload new tag", new_tag_path
      %li= link_to 'Edit Profile', edit_user_path(@user)
      %li= link_to 'Change Password', edit_user_path(@user)

#main
  = pagination(@tags)
  - if @tags.blank?
    %strong.empty
      Nothing yet! 
      %br== &rarr; #{link_to 'Upload', new_tag_path}
  - else
    = render :partial => 'tags/tag', :collection => @tags
  = pagination(@tags)
  

