- @user ||= current_user
%h2
  = link_to(image_tag(@user.photo.url(:small)), @user.photo.url)
  = @user.login

%p= (current_user == @user? '<em>(this is you)</em>' : 'Info:')

= link_to 'Edit Profile', edit_user_path(@user)
&mdash;
= link_to 'Change Password', edit_user_path(@user)


