- required = '<span style="color: #d33">*</span>'
- visualization = @visualization || form

.right_column
  %p
    %label Submitter:
    %strong{:style => 'margin-left: 3px;'}= link_to current_user.login
  %p
    %label{:for => "visualization_authors"}== #{required}Authors:
    = f.text_area :authors, :rows => 2
  %p
    %label{:for => "visualization_website"} Website:
    = f.text_field :website
  %p
    %label{:for => "visualization_description"}== #{required}Description:
    = f.text_area :description, :rows => 6

.left_column
  %p
    %label{:for => "visualization_name"}== #{required}Name:
    = f.text_field :name
    %label{:for => "visualization_version"} Version:
    = f.text_field :version, :size => 5
  %p
    %label{:for => "visualization_kind"}== #{required}Kind:
    = f.select :kind, Visualization::KINDS

  %p.embed_toggle
    .left= f.check_box :is_embeddable, :id => 'embeddable_toggle'
    %label{:for => 'visualization_is_embeddable', :style => 'margin-left: 1em', :onclick => "$('#embeddable_toggle').click();"}== Embeddable?  
  .embed_details{:class => @visualization.is_embeddable ? '' : 'disabled'}
    %label{:for => "visualization_embed_url"}== #{required} URL to .swf, .js, etc
    = f.text_field :embed_url

    %label{:for => "visualization_embed_callback"}== The name of a callback function, e.g. 'drawGML'
    = f.text_field :embed_callback

    %label{:for => "visualization_embed_params"}==  Bonus parameters, foo=bar&bob=joe&...
    = f.text_field :embed_params

    %label{:for => "visualization_embed_params"}==  Embed code (read the docs)
    = f.text_area :embed_code, :rows => 3

    
    %a{:id => 'preview_embed', :class => 'preview'} Preview
    
    


:javascript
  $(document).ready(function(){
    $('#embeddable_toggle').click(function(){
      var deets = $('.embed_details');
      // $(this).is(':checked')
      deets.find(':input').attr('disabled', !$(this).is(':checked'));
      if(deets.hasClass('disabled')){ 
        deets.removeClass('disabled');
        deets.find(':input').attr('disabled', false);
      }
      else { 
        deets.addClass('disabled');
        deets.find(':input').attr('disabled', true);
      }
    });
  });
     