%h1 Editing visualization

= error_messages_for :visualization

- form_for(:visualization, :url => object_url, :html => { :method => :put, :multipart => true }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p.buttons= submit_tag "Update"

- if false
  = link_to 'Show', object_path
  |
  = link_to 'Back', objects_path
