/ %h1 Applications

%p.create_new
  = link_to '+ Register New Application', new_object_path, :class => 'button add facebox'

= pagination(@visualizations)

%table{:style => 'width: 100%'}
  %tr
    / %th{:style => 'width: 110px;'}
    %th name
    %th{:style => 'width: 100px;'} language
    %th{:style => 'width: 100px;'} embeddable    
    %th author
    %th{:style => 'width: 130px'} submitted
    - if is_admin? || is_owner?
      %th.admin{:style => 'width: 70px;'}
      %th.admin{:style => 'width: 150px;'}
    
  - current_objects.each do |app|
    %tr.fat
      / %td= link_to(image_tag(app.thumbnail_image), url)
      %td
        %strong= link_to app.name, visualization_path(app)
      %td= app.kind.blank? ? '&mdash;' : app.kind
      %td= app.is_embeddable? ? 'yes' : 'no'      
      %td= link_to app.user.login, user_path(app.user) rescue "&mdash;"      
      %td= app.created_at.strftime('%D %T')

      -#Admin debuggery & controls
      - if is_admin?
        %td.admin= app.approved? ? 'Approved' : 'Pending'
        %td.admin
          - if app.approved?
            = link_to 'unapprove', unapprove_visualization_path(app), :method => :put, :confirm => 'Are you sure?'
          - else
            = link_to 'approve', approve_visualization_path(app), :method => :put, :confirm => 'Are you sure?'
          = link_to 'edit', edit_visualization_path(app)
          = link_to 'delete', visualization_path(app), :method => :delete, :confirm => "Are you sure?", :class => 'delete'
      
%p= pagination(current_objects)

=# render :partial => 'visualization', :collection => current_objects

- if current_objects.blank?
  %em None yet!
