%h1 Register New Application

= render "layouts/error_messages", target: @visualization

= form_for(:visualization, :url => visualizations_url, :html => { :multipart => true }) do |f|
  = render :partial => "form", :object => @visualization, :locals => {:f => f}
  %br
  %p= submit_tag "Create"

= link_to 'Back', visualizations_path
