
%p.back= link_to '&larr; back to applications', visualizations_path

.left{:style => 'margin-top: 40px;'}
  = image_tag(@visualization.image(:medium))
  =# image_tag(@visualization.image(:large), :width => 300)

.centered{:style => 'width: 400px; margin: 20px 0 0 330px;'}
  %h1
    =h @visualization.name
    %span.version=h @visualization.version
  %div[@visualization]
    %p.authors
      %strong Author(s):
      =h @visualization.authors
    %p.website
      %strong Website:
      = link_to @visualization.website, "http://#{@visualization.website.gsub("http://",'')}"

    %hr
    - unless @visualization.kind.blank?
      %p
        %strong Language:
        =h Visualization::KINDS.select { |k,v| v == @visualization.kind }[0][0] rescue @visualization.kind
    - unless @visualization.download.blank?
      %p
        %strong Download:
        = link_to(@visualization.download, @visualization.download)

    .description
      %strong Description:
      = h @visualization.description || '(none)'

    - unless @visualization.user.nil?
      %hr
      %p
        %strong Submitted by:
        %span.user
          = link_to @visualization.user.login, user_path(@visualization.user)
        %span.submitted_at= @visualization.created_at.strftime('%D')


  - if logged_in? && (@visualization.respond_to?(:user) && @visualization.user == current_user) || is_admin?
    %hr
    %p.controls
      = link_to 'Edit', edit_visualization_path
      |
      = link_to 'Delete', visualization_path, :confirm => 'Are you sure?', :method => :delete
