
#home

  #intro
    .right{:style => 'font-weight: normal; margin-left: 20px; margin-top: 6px; color: #777;'}
      == #{pluralize Tag.count(:conditions => ["created_at >= ?",Date.today]), 'tag'} uploaded 
      == by #{pluralize Tag.count(:conditions => ["created_at >= ?",Date.today], :select => 'DISTINCT gml_uniquekey'), 'person'} today
      == &ndash; #{link_to 'view activity', activity_path, :style => 'text-decoration: underline;'}

    / == Last #{pluralize @tags.length, 'tag'},
    .welcome{:style => 'width: 600px;'}
      %strong Welcome to #000000book
      == &ndash; read an #{link_to 'intro to GML', 'http://fffff.at/gml-week-graffiti-markup-language/'}
      == &ndash; uploading tags? #{link_to 'register an account', signup_path} 
      == <br/> Don't forget to add your iPhone UUID in your #{link_to 'settings', settings_path} (full support coming soon)

  %br.clear
  / .right_column{:style => 'width: 280px; text-align: left; margin-top: 40px;'}
  -# TODO: convert this to a table
  .right_column{:style => "margin-top: 40px; overflow: visible;"}
    %ul#frontpage_tags
      - @tags.each do |tag|
        %li
          %span
            %a{:href => tag_path(tag)}= tag_title(tag)
          %small
            -# unless tag.application.blank? && tag.gml_application.blank?
            - if true
              %span.application== <em>|</em> #{application_link(tag.sexy_app_name, :short => true)}
            - unless tag.user.nil?
              %span.username== <em>|</em> #{link_to tag.user.login, user_path(tag.user)}
            - unless tag.secret_username.blank?
              %span.uniquekey== <em>|</em> #{secret_username_link(tag.secret_username)}              
            / %span.created_at.timeago== <em>|</em> #{tag.created_at.strftime('%D')}
    %p.right
      %strong= link_to '<span>View all data &raquo;</span>', tags_path, :class => 'button ghost small'

  #vanderplayer.left_column
    %h2
      %a{:href => tag_path(@tag)}= tag_title(@tag)
      %small
        - unless @tag.application.blank?
          %span.application== &ndash; #{@tag.application}          
        - unless @tag.location.blank?
          %span.location== &ndash; #{@tag.location}
        - unless @tag.user.nil?
          %span.username== &ndash; #{link_to @tag.user.login, user_path(@tag.user)}            
        %span.created_at.timeago== &ndash; #{@tag.created_at.strftime('%D')}
      
    = render :partial => 'tags/tag_playback', :object => @tag
    