
#home
  #tags
    - if @tags.blank?
      %h2.error No tags yet!
    - else
      %h3
        / == Last #{pluralize @tags.length, 'tag'},
        %span{:style => 'font-weight: normal'}== #{pluralize Tag.count(:conditions => "created_at >= '#{1.day.ago}'"), 'tag'} uploaded today
        %span{:style => 'font-weight: normal'}== &ndash; #{link_to 'view all', tags_path, :style => 'text-decoration: underline;'}
      %ul
        - [].each do |tag|
          - user = tag.user
          -# url = (user.nil? ? tag_path(tag, :trailing_slash => true) : user_tag_path(user, tag, :trailing_slash => true))
          - url = tag_path(tag, :trailing_slash => true)
          %li.floatLeft= link_to image_tag(tag.image.url(:small)), url
    %br.clear
  / #vis{:style => 'margin-left: -150px; height: 350px;'}
  #vis
    =# tag_vis
	
