

#intro.center

  %br
  %span{:style => 'font-family: "Verdana", sans-serif; letter-spacing: 3px;'} welcome
  
  %h1{:style => 'font-size: 2.5em; font-family: "Futura", sans-serif; letter-spacing: -2px;'}
    == #000000book
  
  %p{:style => 'font-size: 1.4em; font-style: italic; text-transform: uppercase'}
    internet website
    
  %div{:style => 'margin: 60px auto; width: 300px; text-align: left'}
    
    %ol
      %li
        = link_to 'Sign up', signup_path
        for an account
      %li
        = link_to 'Upload', new_tag_path
        tag data        

    %br
    %ol.square
      %li
        = link_to 'Visualizations', visualizations_path    
      %li
        = link_to 'System Activity', activity_path
        
        
        
        
%ul
  - @tags.each do |tag|
    %li.floatLeft= link_to image_tag(tag.image(:thumb)), tag_path(tag)
