
#home
  #tags{:style => 'display: none;'}
    - if @tags.blank?
      %h2.error No tags yet!
    - else
      %h3
        / == Last #{pluralize @tags.length, 'tag'},
        %span{:style => 'font-weight: normal'}== #{pluralize Tag.count(:conditions => "created_at >= '#{1.day.ago}'"), 'tag'} uploaded today
        %span{:style => 'font-weight: normal'}== &ndash; #{link_to 'view all', tags_path, :style => 'text-decoration: underline;'}
      %ul
        - [].each do |tag|
          - user = tag.user
          -# url = (user.nil? ? tag_path(tag, :trailing_slash => true) : user_tag_path(user, tag, :trailing_slash => true))
          - url = tag_path(tag, :trailing_slash => true)
          %li.floatLeft= link_to image_tag(tag.image.url(:small)), url

  %br.clear
  - #FIXM baconhand
  - @tags = Tag.find(:all, :order => 'created_at DESC', :limit => 35)
  - @tag = @tags.shift

  / .right_column{:style => 'width: 280px; text-align: left; margin-top: 40px;'}
  .right_column{:style => "margin-top: 40px;"}
    %ul.square
      - @tags.each do |tag|
        %li
          %a{:href => tag_path(tag)}= tag_title(tag)
          %small
            - unless tag.application.blank?
              %span.application== | #{tag.application}          
            - unless tag.location.blank?
              %span.location== | #{tag.location}
            - unless tag.user.nil?
              %span.username== | #{link_to tag.user.login, user_path(tag.user)}            
            %span.created_at.timeago== | #{tag.created_at.strftime('%D')}
    %p.right
      %strong= link_to '<span>View all &raquo;</span>', tags_path, :class => 'button ghost small'

  #vanderplayer.left_column
    %h2
      %a{:href => tag_path(@tag)}= tag_title(@tag)
      %small
        - unless @tag.application.blank?
          %span.application== | #{@tag.application}          
        - unless @tag.location.blank?
          %span.location== | #{@tag.location}
        - unless @tag.user.nil?
          %span.username== | #{link_to @tag.user.login, user_path(@tag.user)}            
        %span.created_at.timeago== | #{@tag.created_at.strftime('%D')}
      
    = tag_player(@tag, :width => '580px')
    