
- required = '<span style="color: #f55">*</span> '

%fieldset

  = form.error_messages
  == #{required} = required field

  %legend  

  %hr
  = form.text_area :gml, :label => required+'<abbr>GML</abbr>', :rows => 10

  %hr
  = form.text_field :application, :label => 'Application'
  = form.text_field :location, :label => 'Location'

  - if admin?
    .admin{:style => 'background-color: #411; padding: 10px 0; margin: 10px 0;'}
      = form.text_field :remote_image, :label => 'Filename'
      = form.text_field :remote_secret, :label => 'Secret'
  =# form.text_field :description
  =# form.text_field :cached_tag_list, :label => 'Tags (comma-separated)'

  %hr
  = form.file_field :image, :size => 10, :label => 'Screenshot'

  
  - unless @tag.new_record?
    = form.hidden_field :id
  

