
-# A single tag pls
-# link = @user ? user_tag_path(@user, tag) : tag_path(tag)
- link = tag_path(tag)

.meta.right{:style => 'position: absolute; width: 200px; margin: 10px 0 0 320px;'}
  %br
  %strong.title= link_to tag_title(tag), link
  .posted_at
    == #{time_ago_in_words(tag.created_at)} ago
    %br= tag.created_at.strftime('%D %T')
  - unless tag.application.blank?
    %p.application 
      %strong Application: <br />
      = tag.application || '(null)'

%p
  =# link_to image_tag(tag.image.url(:medium)), link
  -# if tag.image.exists?    
  - if tag.remote_image
    .image= link_to(image_tag(tag.thumbnail_image), link)
  - else
    .image= link_to(image_tag(tag.image(:medium)), link)

