- tag = tag_playback # FIXME

#main.tag.tabs

  %ul.tab_navigation
    %li= link_to 'HTML5', '#html5', class: 'selected'
    %li= link_to 'image', '#image'

  #html5
    %p= render partial: 'tags/canvas_player', object: @tag
    %span.beta== *note: html5 &lt;canvas&gt; player is beta; developers please check out the <a href="http://github.com/jamiew/canvasplayer">source code</a>

  #image
    - imgopts = {}
    - if @tag.image.exists?
      .image= image_tag @tag.image(:large), imgopts
    - elsif @tag.remote_image
      .image= image_tag @tag.remote_image, imgopts
    - else
      %h4.warning No thumbnail generated yet.
