
- if @search_context
  .left
    = link_to '&larr; Back to all data', tags_path        
    %h3
      Search:
      %span{:style => 'font-weight: normal;'}== #{@search_context[:key]} = #{@search_context[:value]}

%p.create_new
  = link_to '+ Upload GML', new_tag_path, :class => 'button facebox add'

%br.clear
= pagination

%table{:style => 'width: 100%'}
  %tr
    %th.thumbnail{:style => 'width: 110px;'}
    %th.name name
    %th.application application
    %th.who who
    %th.uploaded{:style => 'width: 130px'} uploaded
    %th
  - if @tags.empty?
    %tr
      %td{:colspan => 6}
        %h3 No results!
        
  - @tags.each do |tag|
    - user = tag.user
    -# url = user.nil? ? tag_path(tag) : user_tag_path(user,tag)
    - url = tag_path(tag)
    %tr
      %td.thumbnail= link_to(image_tag(tag.thumbnail_image(:small)), url)
      %td.name= link_to(tag_title(tag), url)
      %td.application
        = application_link(tag.sexy_app_name)
      %td.who
        - if !user.nil?
          = link_to(user.login, user_path(user))
        - elsif tag.author
          = link_to tag.author
        - elsif tag.secret_username
          = secret_username_link(tag.secret_username)
        - else
          &mdash;
      %td.timeago.uploaded
        %abbr{:title => tag.created_at.strftime('%D %T')}== #{timeago(tag.created_at)} ago
      / Meta
      %td.center
        = link_to 'download GML', tag_path(tag, :format => :gml), :class => 'button smallbutton'
        - if is_admin? || is_owner?
          .controls.right
            = link_to 'edit', edit_tag_path(tag)          
            &nbsp;
            = link_to 'delete', tag_path(tag), :method => 'delete', :class => 'delete', :confirm => 'Are you sure?'

%p= pagination
