
%p.create_new
  = link_to '+ Upload GML', new_tag_path, :class => 'button facebox add'

= pagination

%table{:style => 'width: 100%'}
  %tr
    %th{:style => 'width: 110px;'}
    %th name
    %th application
    %th who
    %th{:style => 'width: 130px'} when
    %th
    
  - @tags.each do |tag|
    - user = tag.user
    -# url = user.nil? ? tag_path(tag) : user_tag_path(user,tag)
    - url = tag_path(tag)
    %tr
      %td= link_to(image_tag(tag.thumbnail_image(:small)), url)
      %td= link_to(tag_title(tag), url)
      %td= tag.application || '&mdash;'
      %td= link_to(user.login, user_path(user)) rescue '&mdash;'
      %td.timeago= tag.created_at.strftime('%D %T')
      
      %td.center
        = link_to 'download GML', tag_path(tag, :format => :gml), :class => 'button smallbutton'
        - if is_admin? || is_owner?
          .controls.right
            = link_to 'edit', edit_tag_path(tag)          
            &nbsp;
            = link_to 'delete', tag_path(tag), :method => 'delete', :class => 'delete', :confirm => 'Are you sure?'

%p= pagination
