
%p= link_to '+ Upload Tag', new_tag_path, :class => 'button facebox add'

%br

= pagination

%table{:style => 'width: 100%'}
  %tr
    %th{:style => 'width: 110px;'}
    %th title
    %th app
    %th who
    %th{:style => 'width: 120px'} when
    %th
    
  - @tags.each do |tag|
    - user = tag.user
    - url = user.nil? ? tag_path(tag, :trailing_slash => true) : user_tag_path(user,tag, :trailing_slash => true)
    %tr
      %td= link_to(image_tag(tag.thumbnail_image), url)
      - txt = tag.title.blank? ? "tag #{tag.id}" : tag.title
      %td= link_to(txt, url)
      %td= tag.application || '&mdash;'
      %td= link_to(user.login, user_path(user)) rescue '&mdash;'
      %td= tag.created_at.strftime('%D %T')
      
      %td      
        = link_to 'download gml', tag_path(tag, :format => :gml), :class => 'button smallbutton facebox'
        =# link_to 'xml', tag_path(tag, :xml), :class => 'button smallbutton facebox'
        =# link_to 'json', tag_path(tag, :json), :class => 'button smallbutton facebox'
        =# link_to 'yaml', tag_path(tag, :yaml), :class => 'button smallbutton facebox'
      

= pagination