
/ Top level navigation
- all_link = @user ? user_tags_path(@user) : tags_path
/ .floatLeft= link_to '&larr; back', all_link
.prevnext
  %li= @prev.nil? ? '&larr; prev' : link_to('&larr; prev', tag_path(@prev), :class => 'button')
  %li &nbsp;::&nbsp;
  %li= @next.nil? ? 'next &rarr;' : link_to('next &rarr;', tag_path(@next), :class => 'button')
  %br.clear


#sidebar.tag_sidebar
  / Information about the tag
  .infobox
    %h2= tag_title(@tag)
    %hr
    %ul
      %li
        == Uploaded #{@tag.created_at.strftime("%D %T")} 
        %br== (#{time_ago_in_words(@tag.created_at)} ago)
    %hr
    %ul
      - app = !@tag.gml_application.blank? && @tag.gml_application || @tag.application
      %li== <strong>Application:</strong> #{app.blank? ? 'NULL' : application_link(@tag.application)}
    %hr
    %ul
      - if !@tag.author.blank?
        %li== <strong>Author:</strong> #{@tag.author}
      %li== <strong>Uploader:</strong> #{@user.blank? ? (@tag.secret_username.blank? ? 'NULL' : secret_username_link(@tag.secret_username)) : link_to(@user.login, user_path(@user)) }
      %li== <strong>Location:</strong> #{@tag.location.blank? ? 'NULL' : @tag.location}
      - unless @tag.description.blank?
        %li== <strong>Description:</strong> #{@tag.description}

    - if @tag.image.exists? || @tag.remote_image
      %hr    
      %ul
        - url = (@tag.image.exists? ? @tag.image.url(:original) : @tag.remote_image)
        - #Quick little gsub to remove the queryvars... not ideal
        %li== Image: #{link_to(File.basename(url.gsub(/\?.*/,'')), url, :target => '_blank') }      
    %hr
    %br  
    .gml
      %span.download{:style => 'margin-left: 5px;'}= link_to('download GML', tag_path(@tag, :format => :gml), :class => 'button smallbutton')
      %span.what-is-gml{:style => 'margin-left: 2px;'}= link_to('?', '#', :onclick => 'alert("TODO: what is GML page"); return false;')
      %textarea{:cols => 24, :rows => 12, :onclick => '$(this).select();'}= @tag.gml

  -# Tag modbox -- edit/delete/debugging etc.
  - if is_owner?(@tag) || is_admin?
    .modbox 
      %h2{:style => 'color: #f0f'} MODBOX
      %ol#controls  
        %li= link_to '<strong>edit</strong>', edit_tag_path, :class => ''
        %li= link_to 'delete', tag_path, :method => 'delete', :class => 'delete', :style => 'color: #fbb'
      %p
        %strong{:style => 'color: #f0f'} Secret Fields
        - ['gml_uniquekey', 'gml_uniquekey_hash'].each do |field|
          %p{:style => 'overflow: hidden;'}
            %strong= field
            %br
            %input{:type => 'text', :readonly => 'readonly', :value => @tag.attributes[field], :onclick => '$(this).select();'}
      %p
        %strong{:style => 'color: #f0f'} Parsed GML Header
        - @tag.gml_header.each do |k,v|
          %p{:style => 'overflow: hidden;'}
            %strong= k
            %br
            %span=h v
    
/ The actual tag awwwwwww yeah
= render :partial => "tag_players", :object => @tag

