
/ Top level navigation
- all_link = @user ? user_tags_path(@user) : tags_path
/ .floatLeft= link_to '&larr; back', all_link
.prevnext
  %li= @prev.nil? ? '&larr; prev' : link_to('&larr; prev', tag_path(@prev, :trailing_slash => true), :class => 'button')
  %li &nbsp;::&nbsp;
  %li= @next.nil? ? 'next &rarr;' : link_to('next &rarr;', tag_path(@next, :trailing_slash => true), :class => 'button')
  %br.clear


#sidebar.tag_sidebar
  / Information about the tag
  .infobox
    %h2= tag_title(@tag)
    %hr
    %ul
      %li
        == Uploaded #{@tag.created_at.strftime("%D %T")} 
        %br== (#{time_ago_in_words(@tag.created_at)} ago)
    %hr
    %ul
      - unless @user.nil?
        %li== By: #{link_to(@user.login, user_path(@user))}
      %li== Application: #{@tag.application.blank? ? '<em>unknown</em>' : @tag.application}
      %li== Location: #{@tag.location.blank? ? '<em>unknown</em>' : @tag.location}
      - unless @tag.title.blank?
        %li== Title: #{@tag.title}
      - unless @tag.description.blank?
        %li== Description: #{@tag.description}
    %hr
    %ul
      - if @tag.image.exists? || @tag.remote_image
        - url = (@tag.image.exists? ? @tag.image.url(:original) : @tag.remote_image)
        %li== Image: #{link_to(File.basename(url), url, :target => '_blank') }      
    %hr
    %br  
    .gml
      %span.download{:style => 'margin-left: 5px;'}= link_to('download GML', tag_path(@tag, :format => :gml), :class => 'button smallbutton')
      %span.what-is-gml{:style => 'margin-left: 2px;'}= link_to('?', '#', :onclick => 'alert("TODO: what is GML page"); return false;')
      %textarea{:cols => 24, :rows => 12, :onclick => '$(this).select();'}= @tag.gml

  -# Tag modbox -- edit/delete/debugging etc.
  - if is_owner?(@tag) || is_admin?
    .modbox 
      %h2{:style => 'color: #f0f'} MODBOX
      %ol#controls  
        %li= link_to '<strong>edit</strong>', edit_tag_path, :class => ''
        %li= link_to 'delete', tag_path, :method => 'delete', :class => 'delete', :style => 'color: #fbb'
      
      %strong{:style => 'color: #f0f'} GML Header
      %textarea{:cols => 24, :rows => 8, :style => 'border: 1px solid #f0f'}
        = h(@tag.gml_document/'header').to_s.gsub('    ',' ') rescue "Could not parse GML: #{$!}"
    
    
/ The actual tag awwwwwww yeah
#main.tag.tabs
  %ul.tab_navigation
    %li= link_to 'player', '#vanderplayer'
    %li= link_to 'thumbnail', '#thumbnail'
  #vanderplayer    
    %p= tag_player(@tag, :width => '580px')
  #thumbnail
    - imgopts = {:width => 600}
    - if @tag.image.exists?
      .image= image_tag @tag.image(:large), imgopts
    - elsif @tag.remote_image
      .image= image_tag @tag.remote_image, imgopts
    - else
      %br
      %h4 No thumbnail generated yet.

