
-#FIXME do in the controller...
- @user ||= @tag.user

/ Top level navigation
- all_link = @user ? user_tags_path(@user) : tags_path
/ .floatLeft= link_to '&larr; back', all_link
.prevnext
  %li.floatLeft= @prev.nil? ? '&larr; prev' : link_to('&larr; prev', tag_path(@prev, :trailing_slash => true), :class => 'button')
  %li.floatLeft &nbsp;::&nbsp;
  %li.floatLeft= @next.nil? ? 'next &rarr;' : link_to('next &rarr;', tag_path(@next, :trailing_slash => true), :class => 'button')
  %br.clear

/ Information about the tag
.infobox.floatRight{:style => 'position: absolute; margin: 0px 0 0 600px; opacity: 1; width: 220px; background-color: #151515; padding: 5px 16px;'}
  %hr
  %ul
    %li
      == Uploaded #{@tag.created_at.strftime("%D %T")} 
      %br== (#{time_ago_in_words(@tag.created_at)} ago)
  %hr
  %ul
    %li== Application: #{@tag.application || 'unknown'}
    - if @user
      %li== Author: #{link_to(@user.login, user_path(@user))}
    %li== Location: #{@tag.location || 'unknown'}
    - unless @tag.title.blank?
      %li== Title: #{@tag.title}
    - unless @tag.description.blank?
      %li== Description: #{@tag.description}
  %hr
  %ul
    - if @tag.image.exists? || @tag.remote_image
      - url = (@tag.image.exists? ? @tag.image.url(:original) : @tag.remote_image)
      %li== Image: #{link_to(File.basename(url), url, :target => '_blank') }      
    - else
      %li
        %em No image  
  %hr
  %br  
  .gml
    %span.download{:style => 'margin-left: 5px;'}= link_to('download GML', tag_path(@tag, :format => :gml), :class => 'button smallbutton')
    %span.what-is-gml{:style => 'margin-left: 2px;'}= link_to('?', '#', :onclick => 'alert("TODO: what is GML page"); return false;')
    %textarea{:cols => 26, :rows => 12, :onclick => '$(this).select();', :style => 'background-color: #222; color: #ccc; border: 1px solid #ff0; padding: 8px 8px 5px; margin-top: 10px;'}= @tag.gml
    
  -#TODO: need a sexier way to determine ownership (everywhere)
  -#FIXME ghetto adminnery
  - if @user && current_user && @user.id == current_user.id || (current_user && ['jamiew','evan','csugrue','todd'].include?(current_user.login))
    %br
    %ol#controls  
      %li= link_to 'edit', edit_tag_path
      %li= link_to 'delete', tag_path, :method => 'delete', :class => 'delete'
    
/ The actual tag awwwwwww yeah
.tag.tabs
  %ul.tab_navigation
    %li= link_to 'player', '#vanderplayer'
    %li= link_to 'thumbnail', '#thumbnail'
  #vanderplayer
    = tag_player(@tag, :width => '580px')
  #thumbnail
    - imgopts = {:width => 600}
    - if @tag.image.exists?
      .image= image_tag @tag.image(:large), imgopts
    - elsif @tag.remote_image
      .image= image_tag @tag.remote_image, imgopts
    - else
      %br
      %h4 No thumbnail generated yet.

