
-#FIXME do in the controller...
- @user ||= @tag.user

/ Top level navigation
- all_link = @user ? user_tags_path(@user) : tags_path
/ .floatLeft= link_to '&larr; back', all_link
.prevnext
  %li.floatLeft= @prev.nil? ? '&larr; prev' : link_to('&larr; prev', tag_path(@prev, :trailing_slash => true), :class => 'button')
  %li.floatLeft &nbsp;::&nbsp;
  %li.floatLeft= @next.nil? ? 'next &rarr;' : link_to('next &rarr;', tag_path(@next, :trailing_slash => true), :class => 'button')
  %br.clear

/ Information about the tag
.infobox.floatRight{:style => 'position: absolute; margin: 0px 0 0 510px; opacity: 1; width: 220px; background-color: #151515; padding: 5px 16px;'}
  %hr
  %ul
    %li
      == Uploaded #{@tag.created_at.strftime("%D %T")} 
      %br== (#{time_ago_in_words(@tag.created_at)} ago)
  %hr
  %ul
    %li== Application: #{@tag.application || 'unknown'}
    - if @user
      %li== Author: #{link_to(@user.login, user_path(@user))}
    %li== Location: #{@tag.location || 'unknown'}
    - unless @tag.title.blank?
      %li== Title: #{@tag.title}
    - unless @tag.description.blank?
      %li== Description: #{@tag.description}
  %hr
  %ul
    - if @tag.image.exists?  
      - url = @tag.image.url(:original)
      %li== Image: #{link_to(File.basename(url), url) }
    - else
      %li
        %em No image  
  %hr
  %br  
  .gml
    %span.download{:style => 'margin-left: 5px;'}= link_to('download GML', formatted_tag_path(@tag, :gml), :class => 'button smallbutton')
    %span.what-is-gml{:style => 'margin-left: 2px;'}= link_to('?', '#', :onclick => 'alert("TODO: what is GML page"); return false;')
    %textarea{:cols => 26, :rows => 12, :onclick => '$(this).select();', :style => 'background-color: #222; color: #ccc; border: 1px solid #ff0; padding: 8px 8px 5px; margin-top: 10px;'}= @tag.gml
    
  -#TODO: need a sexier way to determine ownership (everywhere)
  - if @user && current_user && @user.id == current_user.id || (current_user && current_user.login == 'jamiew')
    %br
    %ol#controls  
      %li= link_to 'edit', edit_tag_path
      / %li= link_to 'delete', tag_path, :method => 'delete', :class => 'delete'
    
/ The actual tag awwwwwww yeah
-# still allow images to be displayed for the time being
.tag
  - if @tag.image.exists?
    .image= image_tag @tag.image(:large)
  - elsif @tag.remote_image
    .image= image_tag @tag.remote_image
  - else
    -#TODO FIXME: this offset is ridiculous
    #vis{:style => 'margin-left: -300px;'} 
      = tag_player(@tag, :width => '750px')


