%body 
  #container
    #header
      %h1.title
        / =link_to SiteConfig.site_name, root_path
        %ul.reg_nav.buttons
          %li= link_to 'home', root_path
          %li= link_to 'tags', tags_path
          %li= link_to 'activity', activity_path          
          / %li= link_to 'visualizations', visualizations_path
        
      %ul.reg_nav
        = yield :header_nav
    #content
      = flash_messages
      = yield :layout
  = render :partial => 'layouts/footer'
