#footer
  - spacer = "&nbsp;/&nbsp;"
  = link_to 'about', '/about'
  = spacer
  %script{:type => 'text/javascript'} document.write('<a href="mailto:info@000000book.com">contact</a>');
  = spacer
  = link_to 'system activity', activity_path
  = spacer
  = link_to 'source code', 'http://github.com/jamiew/blackbook', :target => '_blank'
  = spacer

  == powered by #{link_to 'FAT Lab', 'http://fffff.at'}
  &mdash;
  == copyfree 2009-#{Date.today.year}
  