%body 
  #container
    #header
      %h1.title
        = link_to SiteConfig.site_name, root_path
      %ul.navigation.buttons{:style => 'margin-left: -50px'}
        / %li= link_to 'home', root_path
        %li= link_to 'archive', tags_path
        %li= link_to 'activity', activity_path
        %li= link_to 'apps', visualizations_path
        
      %ul.navigation.user_navigation
        = yield :header_nav
    #content
      = flash_messages
      = yield :layout
  = render :partial => 'layouts/footer'
