- content_for :header_nav do
  - if current_user
    %li.user_photo= link_to image_tag(current_user.photo.url(:tiny), :class => 'photo'), user_path(current_user)
    %li.user_name= link_to current_user.login, user_path(current_user)
    %li
      = link_to 'settings', settings_path
      - if false
        %ul.hover_menu
          %li= link_to 'favorites', user_favorites_path(current_user)
          %li= link_to 'applications', user_visualizations_path(current_user)
    %li= link_to 'favorites', user_favorites_path(current_user)
    %li.logout= link_to 'logout', logout_path, :class => 'logout'
  - else
    %li= link_to 'login', login_path
    %li= link_to 'signup', signup_path

!!!
%html{html_attrs}
  = render :partial => 'layouts/template_header'
  %body
    = render :partial => 'layouts/header'
    #container
      #content
        = flash_messages.present? && flash_messages.map(&:to_s).join.html_safe || ''
        = yield :layout
    = render :partial => 'layouts/footer'

    - if Rails.env == 'production'
      = render :partial => 'layouts/stats'


